body {
  padding: 0;
  margin: 0;
}

.exercise-ui {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.exercise-content {
  flex: 1;
  overflow: scroll;
  padding-bottom: 12px;
}

.exercise-bottom-bar {
  width: 100%;
  height: auto;
}

.exercise-bottom-bar form {
  display: flex;
  width: 100%;
  height: auto;
  box-shadow: 0 0px 12px rgba(0,0,0,0.12);
}

.exercise-bottom-bar-input {
  flex: 1;
  padding: 8px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  background: transparent;
}

.exercise-bottom-bar-btn {
  height: 100%;
  align-self: center;
  padding: 8px;
  margin-right: 4px;
  border: none;
  border-radius: 4px;
}

.exercise-step-assume h3 {
  padding-left: 12px;
}

/* Deductions */
.exercise-ui-steps {
  margin-top: 20px;
}

.exercise-step-deduction-nothing {
  color: gray;
}

.exercise-step-deduction {
  width: 100%;
}

.exercise-step-deduction-expression {
  width: 100%;
}

/* Top bar events */

.exercise-bottom-bar-btn {
  background-color: rgba(0,0,0,0.1);
}

.exercise-bottom-bar-btn:hover {
  background-color: rgba(0,0,0,0.15);
}

.exercise-bottom-bar-btn:active {
  background-color: rgba(0,0,0,0.20);
}

/* Parse errors */

.exercise-parse-err {
  width: 100%;
}

.exercise-parse-err div {
  padding: 12px 8px 12px 8px;
  margin: 4px;
  background: rgba(255,0,0,0.3);
  border-radius: 8px;
}

/* Theory */

.theory {
  border-radius: 8px;
  padding-top: 1px;
  padding-bottom: 8px;
  margin: 8px;
  background: rgba(0,0,0,0.08);
}

.theory h3 {
  padding-left: 12px;
}

#theory-description {
  padding: 0px 8px;
}

.theory-item {
  padding: 8px 8px 8px 24px;
}

/* Clickable area hints */

.clickable:hover {
  background: rgba(0,0,0,0.12);
}

/* Math related stuff */
math mo {
  color: gray;
}

math {
  font-family: "Latin Modern Math", math;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size-adjust: none;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "dtls" off;
}
